.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.home_container h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.home_container h1 span {
  color: var(--yellow);
  padding: 0 0.2rem;
  background-color: var(--black);
  padding: 0 0.5rem;
}

.home_container p {
  margin-bottom: 1.5rem;
  color: var(--gray);
}

.home_container img {
  width: 350px;
  margin: 2rem 0;
}
