.footer {
  background-color: var(--black);
  color: var(--white);
  padding: 3rem;
  text-align: center;
}

.social_list {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.social_list li {
  margin: 0 1rem;
}

.social_list li:hover {
  color: var(--yellow);
}

.social_list svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.copy_right {
  margin-top: 2rem;
}

.copy_right span {
  font-weight: bold;
  color: var(--yellow);
}
