/* Variaveis */

:root {
  --body-color: #efefef;
  --white: #fff;
  --yellow: #ffbb33;
  --black: #222;
  --gray: #7b7b7b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body,
#root {
  width: 100vw;
  background-color: var(--body-color);
  height: 100%;
}
